.container{
    max-width: 1200px;
    margin: auto;
}
.baitap1{
    padding: 20px 0;
}
.baitap{
    padding: 20px 0;
}
h2{
    font-family: 'Nunito', sans-serif;
    color: hotpink;
}

/*BÀI 1*/
button{
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    margin: 10px 0;
}
.end{
    background-color: rgb(205, 235, 176);
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid green;
}
i{
    color: rgb(201, 201, 52);
    margin-left: 20px;
}
.end_bai4 {
    display: flex;
    justify-content: left;
    align-items: center;
}
.end_bai4 i{
   font-size: 25px;  
}
